:root{
    --main-color: rgb(252, 252, 252);
    --black:#13131a;
    --bg: #030301fb;
  
     
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     outline:none;
    border:none;
    text-decoration: none;
    text-transform:capitalize;
    transition: .2s linear; 
}

 html{
     font-size: 62.5%;
    /* overflow: hidden; */ 
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
 } 
 html::-webkit-scrollbar{
    width: .8rem;
 }
 html::-webkit-scrollbar-track{
    width: .8rem;
 }
 html::-webkit-scrollbar-track{
    background-color: transparent;
 }
 html::-webkit-scrollbar-thumb{
    background:#FFFFFF;
    border-radius: 5rem;
 }
 body{
    background: var(--bg);
    background-color: #464343;
 }
 .btn{
    margin-top: 3rem;
    background-color: rgb(43, 16, 1);
    padding: .9rem 6rem;
    color: rgb(248, 246, 245);
   font-size: 1.7rem;
 }
 .btn:hover{
    letter-spacing: .2rem;
 }
 .header{
    display: flex;
    justify-content: space-between;
    background: none ;
   
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
     position: fixed;
    top: 3rem; left: 0;
    right: 0;
    z-index: 1000;
    

 }
 .header .logo{
    height: 6rem;

 }
.logo h1{
   /* margin-top: 1rem;
font-size: 3rem; */
color: aliceblue;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

margin-top: 1rem;
/* fffffff */


 }
 
 .header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #f7f6f6;

 }
 .header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: 1rem;
 }
 .header .icons div{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
 }
 .header.icons div:hover{
   color: var(--main-color);
 }
#menu-btn{
    display: none;
 }
 .header .search-form{
    position: absolute;
    top: 115%;
    right:7%;
    background: #FFFFFF;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin:top ;
 }
 .header .search-form.active{
    margin-top: 0;
  transform: scaleY(1);
  transition: 0.5s;
 }
 .header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
 }

 .header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
 }
 .header .search-form label:hover{
    color: var(--main-color);
 }
 .header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh -9.5rem);
    width: 40rem;
   
    background: #BC9A6C;
    padding: 0 1.5rem;
    padding-bottom: 29rem;
border-radius: 10px;
 }
 .header .cart-items-container.active{
    right:0;
    transition: .8s;
 }

 .header  .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
 }
 
 .header  .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
 }
 .header  .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
 }
 .header  .cart-items-container .cart-item img{
    height: 5rem;
    width: 5rem;
 }
 .header  .cart-items-container .cart-item .content h3{
    font-size: 1.7rem;
    color: var(--main-color);
    padding-bottom: .5rem;

 }
 .header  .cart-items-container .cart-item .content .price{
    font-size: 2rem;
    color: var(--main-color);
  
 }
 .header  .cart-items-container .btn{
    width: 100%;
    text-align: center;
 }
 .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('images/background-pic.png') no-repeat;
    background-size:cover ;
    background-position: center;
    

 }
 span{
    color: #BC9A6C;
 }
 section{
   padding:2rem 7%;
 }
 .home{
    height: 88vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
   
 } 
 .home .content{
   max-width: 60rem;
   margin-top: 15rem;
 
 } 
 .home .content h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px solid #BC9A6C;
    width: 200px;  
    text-align: center;
 }
 .home .content h1{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    color: #BC9A6C;
 }
 .home .content p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-top: 32px;
color: #FFFFFF;
 }
 .home .content .orders{
  margin-top: 4rem;
 
 }
 .home .content .orders:hover{
    letter-spacing: .8rem;
   }
 .home .content .orders a{
    height: 40px;
    background-color:#BC9A6C;
    padding: 1.3rem 6rem;
    color: rgb(248, 246, 245);
   font-size: 1.7rem;
 }
.home .content img{
  max-width: 500px;
   min-height: 400px;
    /* position: absolute; margin-left: 70rem;
    margin-top: 0; */
} 
/*about*/
.heading{
    text-align: left;
    color: #1f1d1d;
    text-transform: uppercase;
    padding-bottom: .5rem;
    font-size: 1rem;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.about{
    background-color: #FFFFFF;
}
.about .row{
    display: flex;
    align-items: center;
     margin-top: 120px;
    flex-wrap: wrap;
  
}

.about .row .content h2{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
/* or 117% */

font-feature-settings: 'kern' off;
}
.about .row .content p{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4F4F4F;
margin-top: 3.78%;
margin-bottom: 20px;
}
.about .row .content  li{
    list-style: none;
    margin:5px;
    
  }
  .about-btn{
  
    background: #BC9A6C;
    border-radius: 6px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 48px;
gap: 10px;
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
   width: 229px;
height: 58px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
padding: .3rem 3rem;
  }
  .about-btn:hover{
    letter-spacing:.09rem;
  }
  .about .row .content li:before {
    content: '\2714\0020';
    margin-right: 5px;
  }
.about .row .about-image{
    flex:1 1 45rem;
}
.about-image .image2 {
  width: 3rem;
}
.pages{
    background-color: #FFFFFF;
   
}
.pages-category{
 justify-content: center;
   align-items: center; 
   
    margin-top: 120px;
}
.pages-category h1{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #333333;
}
.pages-category p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #4F4F4F;
}
.pages .content{

}


 @media(max-width:600px){
    html{
        font-size: 55%;
      
     } 

   .header{
    padding: 1.5rem 2rem;
    margin-top: 10px; 

    
   }
}
 @media(max-width:600px){


   #menu-btn{
    display: inline-block;

 }
 .header{
    top: 1rem; 
   
 }
 .header .navbar{
    position: absolute;
    top: 80%;
    right: -100%; 
    background: #000000;
    width: 30rem;
    height: calc(100vh - 9.5rem);
 }
 .header .navbar.active{
    right: 0;
    transition: 0.4s;
 }
 .header .navbar a{
    color: white;
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size:2rem ;
 }
 .header .search-form{
    width: 90%;
    right: 2rem;
 }
 .btn{
    margin-top: 10px;
 }
 .home{
    background-position: left;
    justify-content: center;
    text-align: center;
 }
 .home .content{
width: 50rem;
  margin-top:80px;
  text-align: center;
  } 
 .home .content h1{
    font-size: 4.5rem;
    line-height: 40px;
    margin-top: 10px;
    
 }

 .home .content p{
    font-size: 1.7rem;
    margin-top: 2px;
    line-height: 15px;
line-height: 15px;
margin-top: 20px;


 }
 .home .home-img img{
    width: 400px;
    height: 10px;
    margin-top: 2rem;
 } 
 .about .row .about-image img{
    max-width: 400px;
    height: 400px;
  }
  .home .content h3{

    margin-left: 120px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;  
 }

 }