:root{
    --main-color: rgb(252, 252, 252);
    --black:#13131a;
    --bg: #030301fb;
  
     
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     outline:none;
    border:none;
    text-decoration: none;
    text-transform:capitalize;
    transition: .2s linear; 
}

 html{
     font-size: 62.5%;
    /* overflow: hidden; */ 
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
 } 
 html::-webkit-scrollbar{
    width: .8rem;
 }
 html::-webkit-scrollbar-track{
    width: .8rem;
 }
 html::-webkit-scrollbar-track{
    background-color: transparent;
 }
 html::-webkit-scrollbar-thumb{
    background:#FFFFFF;
    border-radius: 5rem;
 }
 body{
    background: var(--bg);
    background-color: #464343;
 }
 .btn{
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);
    padding: .9rem 6rem;
    color: rgb(0, 0, 0);
   font-size: 1.7rem;
 }
 .btn:hover{
    letter-spacing: .2rem;
 }
 .header{
    display: flex;
    justify-content: space-between;
    background: none ;
   position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    top: 0; left: 0;
    right: 0;
    opacity: .7;
    background-color:#464343;
    z-index: 1000;
    

 }
 .header .logo{
    height: 6rem;

 }
.logo h1{
   /* margin-top: 1rem;
font-size: 3rem; */
color: aliceblue;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
margin-top: 1rem;
 }
 
 .header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #f7f6f6;
 }
 .header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: 1rem;
 }
 .header .icons div{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
 }
 .header.icons div:hover{
   color: var(--main-color);
 }
#menu-btn{
    display: none;
 }
 .header .search-form{
    position: absolute;
    top: 115%;
    right:7%;
    background: #FFFFFF;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin:top ;
 }
 .header .search-form.active{
    margin-top: 0;
  transform: scaleY(1);
  transition: 0.5s;
 }
 .header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
 }

 .header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
 }
 .header .search-form label:hover{
    color: var(--main-color);
 }
 .header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh -9.5rem);
    width: 40rem;
    background: #140d03;
    padding: 0 1.5rem;
    padding-bottom: 29rem;
border-radius: 4px;
 }
 .header .cart-items-container.active{
    right:0;
    transition: .3s;
 }

 .header  .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
 }
 
 .header  .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: bisque;
 }
 .header  .cart-items-container .cart-item .fa-times:hover{
    color: var(--brown);
 }
 .header  .cart-items-container .cart-item img{
    height: 5rem;
    width: 5rem;
 }
 .header  .cart-items-container .cart-item .content h3{
    font-size: 1.7rem;
    color: var(--main-color);
    padding-bottom: .5rem;

 }
 .header  .cart-items-container .cart-item .content .price{
    font-size: 2rem;
    color: var(--main-color);
  
 }
 .header  .cart-items-container .btn{
    width: 100%;
    text-align: center;
 }
 /* .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('images/background-pic.png') no-repeat;
    background-size:cover ;
    background-position: center;
    

 } */
 span{
    color: #BC9A6C;
 }
 section{
   padding:2rem 7%;
 }

 
 .home {
    height: 88vh;
   margin-top: 15rem;
 
 } 
 
 .home .home-slider .slide .content h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px solid #BC9A6C;
    width: 200px;  
    text-align: center;
 }
 .home .home-slider .slide .content h1{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    color: #BC9A6C;
 }
 .home .home-slider .slide .content p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-top: 32px;
color: #FFFFFF;
 }
 .home .home-slider .slide .content .orders{
  margin-top: 4rem;
 
 }
 .home .content .orders:hover{
    letter-spacing: .8rem;
   }
   .home .home-slider .slide .content .orders a{
    height: 40px;
    background-color:#BC9A6C;
    padding: 1.3rem 6rem;
    color: rgb(248, 246, 245);
   font-size: 1.7rem;
 } */
/* .home .content img{
  max-width: 500px;
   min-height: 400px;
    /* position: absolute; margin-left: 70rem;
    margin-top: 0; 
}  */

.home .home-slider .slide{
   display: flex;
   align-items: center;
   height: 88vh;
   justify-content: flex-start;
  
   
}
.home .home-slider .slide1{
   background-image:  url('images/background-pic.png') ;
}
.home .home-slider .slide2 {
   background-image: url('images/background-pic.png') ;
}
.home .home-slider .slide3{
   background-image:  url('images/background-pic.png') ;
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3{
   background-repeat: no-repeat;
   background-size: cover;
 background-position: fixed;
}
.home .home-slider .slide .content{
   padding-left: 9rem;
    max-width: 60rem;
   margin-top: 7rem;
}
.swiper-pagination-bullet
{
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #BC9A6C;
   width: 15px !important;
   height: 15px !important;
   border: 50px !important;
}

/*about*/


.heading{
    text-align: left;
    color: #1f1d1d;
    text-transform: uppercase;
    padding-bottom: .5rem;
    font-size: 1rem;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.about{
    background-color: #FFFFFF;
    
    
}
.about .row{
    display: flex;
    align-items: center;
     margin-top: 120px;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1rem;
    flex:1 1 45rem;
}

.about .row .content h2{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
/* or 117% */

font-feature-settings: 'kern' off;
}
.about .row .content p{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4F4F4F;
margin-top: 3.78%;
margin-bottom: 20px;
}
.about .row .content{
   margin-left: 0;
}
.about .row .content  li{
    list-style: none;
    margin:5px;
    
  }
  .about-btn{
  
    background: #BC9A6C;
    border-radius: 6px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 48px;
gap: 10px;
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
   width: 229px;
height: 58px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
padding: .3rem 3rem;

  }
  .about-btn:hover{
    letter-spacing:.09rem;
  }
  .about .row .content li:before {
    content: '\2714\0020';
    margin-right: 5px;
  }
.about .row .about-image{
  
    flex:1 1 45rem;
    
}
.about .row .about-image img{
 margin-top: 30px;
 width: 80.2%;
max-height: 720px;
}
.about-image .image2 {
  width: 3rem;
}
/* pages-section */
.pages{
    background-color: #FFFFFF;
   
}
.pages .pages-container{
   margin-left: 5px;
   align-items: center;
   justify-content: center;
   margin: 0.5rem 0;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 15rem;
  
}
.pages .pages-container .pages-items{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 100px;
  
}
.pages .pages-container .pages-items .content h2{
    font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #4F4F4F;
font-family: 'Helvetica';
}
.pages .pages-container .pages-items .content .cafe-heading{
   font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #4F4F4F;
font-family: 'Helvetica';
text-align: right;
}
.pages .pages-container .pages-items .content .content-paragraph{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4F4F4F;
}
.pages-heading{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #333333;

margin-top: 100px;
}
.pages-paragraph{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #4F4F4F;
}
.pages .pages-image{
   position: absolute;
   justify-content: center;
   align-items: center;
  margin-top: 240px;
  margin-left: 570px;
  max-width: 344.26px;
  min-height: 450px;
}
.pages .pages-image img{
   max-width: 300.26px;
min-height: 450px;
}
.page2-slunder{
   margin-top: 100px;
}
.page2-list img{
   width: 80px;
   height: 78px;
}
.page2-image img{
   width: 587px;
   height: 629px;
}
.page2-slunder .page2-quality{
   margin-top: 4rem;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   grid-gap:.5rem;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}
.page2-list .container .page2-list-item{
position: relative;
    margin: .2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
   margin-top: 1rem;
}
.page2-list-item .content-for-list h1{
   font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #333333;
}
.page2-list-item .content-for-list p{
   font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.page2-list-item img{
   width: 100px;
   height: 110px;

}
.page2-list .container{
   margin-left: 5px;
   align-items: center;
   justify-content: center;
   
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     column-gap: 1rem;
     column-count: 1;
}
.page2-slunder .page2-quality .content{
  
   justify-content: center;
}
.page2-slunder .page2-quality .content  img{
   margin-top: 10px;
   max-width: 30%;
   max-height: 98px;
   
  
}
.page2-slunder .page2-quality .content h3{
     
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #333333;
}
.page2-slunder .page2-quality .content li{
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   color: #4F4F4F;
      color: #4F4F4F;
}
.page2-slunder .page2-quality .content h2{
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 56px;
   color: #333333;
}
.page2-slunder .page2-quality .content .page2-size-paragraph{
   font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #4F4F4F;
   color: #4F4F4F;
   margin-top: 1.3rem;
}
.menu{
   background-color:#FFFFFF
}
.menu .menu-row {
   text-align: center;
   justify-content: center;
   align-items: center;
   padding-top: 7rem;
}
.menu .menu-row .menu-paragraph{
    font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #4F4F4F;
   color: #4F4F4F;
}
.menu .menu-row .menu-heading{
  font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 56px;
   color: #333333; 
}
.menu .menu-row .side-bar-menu{
   
 
  background-color: #111;
  
}

.menu .menu-row .nav-menu .container{
   margin-top: 30px;
   width:30rem;
   height: 40rem;
   flex-direction: column;
   background-color:#EDEAE3;
   padding: .1rem 5px 0px 5px;
   margin-left: 90px;
   
}
.menu .menu-row .nav-menu .container .active{
   margin-top: 11px;
   color: #BC9A6C;
}
.menu .menu-row .nav-menu .container > div a{
margin-top: 2rem;
}
.menu .menu-row .nav-menu .container .menu-list-btn a{
   margin-top: 2rem;
   background-color: white;
   flex-direction: column;
   display: grid;
  padding: 2rem ;
   height: 60px;
   width: 25rem;
   margin-left: 30px;
   justify-content: center;
   color: rgb(10, 10, 10);
  font-size: 1.7rem;
}
.menu .menu-row .nav-menu .container a:hover{
   color: #EDEAE3;
   background-color: #BC9A6C;
   cursor: pointer;
}
/*chefs-section*/
.chefs{
   background-color: #FFFFFF;
   width: 100%;
}
.chefs .chef-heading{
   font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;
font-feature-settings: 'kern' off;
color: #333333;
}
.chefs p{
   font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #4F4F4F;

}
 .chefs-row .chef-content .chef-image img{
  width: 100%;
  
}
.chefs .chefs-row .chef-content {
position: relative;
z-index: 2;
text-align: center;
}


.chefs .chefs-row {
   margin-top: 4rem;
 width: 100%;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
 grid-gap:.5rem;
 margin-left: 50px;
}
.chefs .chefs-row:hover{
   transform: rotate(360);
   cursor: pointer;

}
/* testimonials */
.testimonials{
   background-color: #FFFFFF;
   justify-content:center;
   align-items: center;
   display: flex;
}

.testimonials-about {
   padding: 3rem 4rem 2em;
  background-color: rgb(11, 13, 19);
  background-image: url('images/testimonials-background.png') ;
  
}
.testimonials-about .content{
   justify-content: center;
   text-align: center;
}
.testimonials-about .content h2{
   font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
}
.testimonials-about .content .testimonials-image{
   margin-top: 5rem;
}
.testimonials-about .content h4{
   font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
color: #FFFFFF;
}
.testimonials-paragraph{
   color: #FFFFFF;
   font-size: 1.5rem;
   line-height: 2rem;
   margin-top: 2rem;
   font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}
.testimonials-about h3{
   text-align: center;
   color: #fdfdfd;
   font-size: 3rem;
   margin-top: 2rem;
   font-family: 'Helvetica';
   font-style: normal;
}
.fa-quote-right{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 5rem;
   margin-top: 1rem;
   background-color: transparent;
   color: #BC9A6C;
}
.testimonials-about h1{
   color: #FFFFFF;
   font-size: 1.8rem;
   font-family: 'Helvetica';
   font-style: normal;
   text-align: center;
}
.testimonials .container{
   display: flex;
   margin-top: 10rem;
   margin-bottom: 10rem;
}
.testimonial-vidmate{
   border: 1px solid black;
   max-width: 47rem;
   
}
.testimonial-vidmate{
   background-color:black;
}
/* blog-section */
.blog{
   background-color: #FFFFFF;

}
.blog-heading{
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 56px;
   text-align: center;
   font-feature-settings: 'kern' off;
   color: #333333;
   }
   .blog p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #4F4F4F;
   }
   .blog .blog-row{
      margin-top: 6rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap:.5rem;
      margin-left: 4rem;
   }
   .blog-row .blog-card{
      width: 100%;
    
   }
   .blog-row .blog-card .blog-content {
      margin-top: .5rem;
      margin-left: 30px;
   }
   .blog-row .blog-card .blog-content h3{
      font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
      font-size: 16px;
line-height: 24px;
color: #4F4F4F;
   }
   .blog-row .blog-card .blog-content h1{
      font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #333333;
margin-top: 1rem;
   }
   .fa-user{
      color: #BC9A6C;
   }
   .fa-calendar-days{
      color: #BC9A6C;
   }
   .blog-statement{
      font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4F4F4F;
margin-top: 1rem;
   }
   .blog-row .blog-card .blog-content .blog-btn a{
      color: #BC9A6C;
      font-size: 1.7rem;
      font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
   }
   .blog-row .blog-card .blog-content .blog-btn{
      width: 230px;
      height: 64px;
      background-color: transparent;
      border:1px solid #BC9A6C;
      text-align: center;
      border-radius: 5px;
      padding: 2rem 1rem;
      margin-top: 30px;
      
   }
   .blog-row .blog-card .blog-content .blog-btn:hover{
      letter-spacing: .7rem;
   }
   .clients-logo{
      background-color: #FFFFFF;
   }
   
   .clients-logo h1{
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
font-feature-settings: 'kern' off;
color: #333333;
text-align: center;
margin-top: 1rem;

   }
   .clients-logo h2{
      font-family: 'Miniver';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #BC9A6C;
      margin-top: 150px;
      text-align: center;
      
   }
   .clients-logo .client-row{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      margin-left: 80px;
    margin-top: 70px;
    margin-bottom: 10rem;
   }
   .contact-email{
      background-color: #FFFFFF;
   }
   .contact .container{
      max-width: 100%;
      height: 10rem;
      background: #FFFFFF;
      box-shadow: 0px 0px 80px rgba(205, 205, 205, 0.25);
      display: flex;
      align-items: center;
      flex: 1 1 1rem;
      margin-top: 20rem;
     position: relative;
      margin: 30px 120px 12px;
  padding: 10rem 1rem 10rem ;
   }
   .contact h1{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: #333333;
      margin-left: 10rem;
   }
   .contact .container .form{
      margin-left: 20rem;

   }
   .contact .container .form input{
      width:350px;
      height: 50px;
      border-top:1px solid #BC9A6C;
      border-bottom:1px solid #BC9A6C;
      border-left: 1px solid #BC9A6C;
      padding: 10px ;
      font-size: 1.5rem;
   }
   .contact .container .form button{
      width: 10%;
      min-height: 50px;
      position: absolute;
      background: #BC9A6C;
      color: #FFFFFF;
      font-family: 'Helvetica';
      font-style: normal;
   }
   .contact .container .form button:hover{
      background: #1f1d1d;
      cursor: pointer;
      line-height: 1rem;
      transition: .3s;
   
   }
   .social-media-icons{
      position: relative;
      margin-left: 13rem;
      padding: 20px 39px;
      margin-right:2px ;
      color: #BC9A6C;
      font-size: 2rem;
      cursor: pointer;
   }
   .social-media-icons .fa-brands:hover{
      transform: rotate(-50deg);
      color: #1f1d1d;
   }

   .footer{
      background-color: rgb(0, 0, 0);
   background-image: url('images/footer-image.png');
   background-position: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 50vh;
   display: flex;
   flex-flow: row wrap;
   column-gap:1rem;
}
 
.footer {
   display: flex;
   flex-flow: row wrap;
   
   color: #2f2f2f;
 
 }
 .footer__nav{
   margin-top: 13rem;
 }
 .footer > * {
   flex:  1 100%;
 }
 
 .footer__addr {
   margin-right: 1.25em;
   margin-bottom: 2em;
   margin-left: 16rem;
   margin-top: 13rem;
 }
 
 .footer__logo {
   font-family: 'Pacifico', cursive;
   font-weight: 400;
   text-transform: capitalize;
   font-size: 1.5rem;
   font-family: 'Helvetica';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 32px;
 color: #FFFFFF;
 }

 .footer__addr p{
  color: #fdfdfd;
  font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;
margin-top: 2rem;
 }
 .footer__addr h2 {
   margin-top: 1.3em;
   font-size: 15px;
   font-weight: 400;
 }
 
 .nav__title {
   font-weight: 400;
   font-size: 15px;
   color: #fdfdfd;
   font-family: 'Helvetica';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 32px;
 color: #FFFFFF;
 }
 .nav__ul{
   
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;
 }
 .footer_nav .nav__ul{
   display: grid;
   grid-template-columns: repeat(auto-fix, minmax(10rem, 1fr));
   flex: 1 1 1rem;
   
 }
 .footer_nav .nav_ul{
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 30px;
 line-height: 28px;
 color: #FFFFFF;
 }

 .footer address {
   font-style: normal;
   color: #999;
   
 }
 
 .footer__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 36px;
   max-width: max-content;
   background-color: rgb(33, 33, 33, 0.07);
   border-radius: 100px;
   color: #2f2f2f;
   line-height: 0;
   margin: 0.6em 0;
   font-size: 1rem;
   padding: 0 1.3em;
 }
 
 .footer ul {
   list-style: none;
   padding-left: 0;
   
 
 }
 
 .footer li {
   line-height: 2em ;
 }
 
 .footer a {
   text-decoration: none;
 }
 
 .footer__nav {
   display: flex;
    flex-flow: row wrap;
 }
 
 .footer__nav > * {
   flex: 1 50%;
   margin-right: 1.25em;
 }
 
 .nav__ul a {
   color:#fdfdfd;
 }
 
 .navfooter__ul--extra {
   column-count: 2;
   column-gap: 4em;
 }

 .footer-section{
   position: absolute;
   left: 0%;
   right: 0%;
   top: 98.82%;
   bottom: 0%;
   background: #FF9F0D;
 }

 .legal {
   display: flex;
   flex-wrap: wrap;
   color:#fdfdfd;
 }
   
 .legal__links {
   display: flex;
   align-items: center;
 }
 
 .heart {
   color: #2f2f2f;
 }

 @media screen and (min-width: 24.375em) {
   .legal .legal__links {
     margin-left: auto;
   }
 }
 
 @media screen and (min-width: 40.375em) {
   .footer__nav > * {
     flex: 1;
   }
   
   .nav__item--extra {
     flex-grow: 2;
   }
   
   .footer__addr {
     flex: 1 0px;
   }
   
   .footer__nav {
     flex: 2 0px;
   }
 }

  .item-social{
   background-color: #BC9A6C;
   height: 7vh;
   justify-content: center;
   text-align: center;
  }

  .item-social .copyright{
   justify-content: center;
   text-align: center;
   color: #FFFFFF;
   font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      padding: 1.5rem ;
  }
  
 @media(max-width:600px){
    html{
        font-size: 55%;
      
     } 

   .header{
    padding: 1.5rem 2rem;
    margin-top: 10px;  
   }
} 

 @media(max-width:600px){


   #menu-btn{
    display: inline-block;
 }

 .header{
    margin-top: 0; 
    opacity: .7;
 }

 .header .navbar{
    position: absolute;
    top: 80%;
    right: -100%; 
    background: #000000;
    width: 30rem;
    height: calc(100vh - 9.5rem);
 }

 .header .navbar.active{
    right: 0;
    transition: 0.4s;
 }

 .header .navbar a{
    color: white;
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size:2rem ;
 }

 .header .search-form{
    width: 80%;
    right: 2rem;
 }

 .btn{
    margin-top: 10px;
 }

 .home{
    background-position: left;
    justify-content: center;
    text-align: center;
 }

 .home .content{
width: 50rem;
  margin-top:80px;
  text-align: center;
  } 

 .home .content h1{
    font-size: 4.5rem;
    line-height: 40px;
    margin-top: 10px;
    
 }

 .home .content p{
    font-size: 1.7rem;
    margin-top: 2px;
    line-height: 15px;
    line-height: 15px;
    margin-top: 20px;


 }
 .home .home-img img{
    width: 400px;
    height: 10px;
    margin-top: 2rem;
 } 
 .about .row .about-image img{
    max-width: 380px;
    height: 400px;
    margin-left: 10px;
    margin-top: 0;
    
  }
  .about .row .content {
   margin-top: 10px;
  }
  .about .row .content h2{
     font-size: 3.3rem;
     line-height: 30px;
  }
  .about .row .content .heading{
   margin-top: 5px;
  }
  .about .row .content p{
   font-size: 1.5rem;
   line-height: 17px;
  
  }
  .about .row .content .about-btn{
   font-size: 1.5rem;
   width: 170px;
   height: 50px;
  }
  .home .content h3{

    margin-left: 120px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;  
 }
 /* page-responsive */
 .pages .pages-container{
   margin-left: 10px;
   align-items: center;
   justify-content: center;
   margin: 0.5rem 0;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   column-gap: .7rem;
   
  
}
.pages .pages-paragraph{
   font-size: 1.5rem;
}
.pages .pages-heading{
   font-size: 3rem;
   margin-top: 10px;
}

.pages .pages-container .pages-items .content .cafe-heading{
font-size: 16px;
line-height: 20px;
text-align: left;
}
.pages .pages-container .pages-items .content h2{

font-size: 16px;
line-height: 20px;
color: #4F4F4F;

}

.pages .pages-container .pages-items .content .content-paragraph{
 
font-size: 13px;
line-height: 17px;

}
.pages .pages-container {
 padding:.1rem 5rem .2rem ;
 margin: 0;
}
.pages .pages-container .pages-items{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  
}
 .pages .pages-image img{
   max-width: 30.26px;
min-height: 40px;
display: none;
}

/*pages slander*/
 .page2-slunder{
   margin-top: 50px;
   margin: 0rem 0;
}
.page2-slunder .page2-quality .page2-image img{
   max-width: 400px;
max-height: 350px;
}
.page2-slunder .page2-quality{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1px;
}
.page2-slunder .page2-quality .content{
   margin-left: 0;
   margin-top: 30px;
}


.page2-slunder .page2-quality .content h2{
font-weight: 600;
font-size: 32px;
line-height: 38px;

}
.page2-slunder .page2-quality .content .page2-size-paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 33rem;
}
.page2-slunder{
 
 }
 /* testimonials-responsive */
 .testimonials {
   
 }
 .testimonials-about .content h2{
   font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
}
.testimonials-about .content .testimonials-image{
   margin-top: 3rem;
}
.testimonials-about .content h4{
   font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
color: #FFFFFF;
}
.testimonials-paragraph{
   font-size: 1.5rem;
   margin-top: 1rem;
line-height: 18px;


}
.testimonials-about h3{
   font-size: 2rem;
   margin-top: 1.5rem;
  
}
.fa-quote-right{
   font-size: 2rem;
   margin-top: 1rem;
  
}
 .testimonials .container{
   max-width: 600px;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
 }
 .testimonial-vidmate{
  max-height: 50rem;
   width: 500px;
 
}
.testimonial-vidmate .container{
   height: 150px;
   width: 60px;
}
.testimonial-vidmate .container video{
   width:398px;
   margin-top: 0;
   margin-left: 40rem;
}
 /* end-of-testimonials */
 /* blog-section */
.blog{
   background-color: #FFFFFF;

}
.blog-heading{
   font-size: 30px;
   }

   .blog .blog-row{
      margin-top: 2rem;
      margin-left: 4rem;
   }
   .blog-row .blog-card{
      width: 100%;
      margin-top: 3rem;
   }
   .blog-row .blog-card .blog-content {
      margin-top: .5rem;
      margin-left: 20px;
   }
   .blog-row .blog-card .blog-image img{
      width: 400px;
    
   }
   .blog-row .blog-card .blog-content h3{
      font-size: 16px;
   }
   .blog-row .blog-card .blog-content h1{
font-size: 18px;
margin-top: .8rem;
   }
   .fa-user{
      color: #BC9A6C;
   }
   .fa-calendar-days{
      color: #BC9A6C;
   }
   .blog-statement{
font-size: 15px;
line-height: 24px;
margin-top: .8rem;
   }
   .blog-row .blog-card .blog-content .blog-btn a{
      font-size: 1.5rem;
   
   }
   .blog-row .blog-card .blog-content .blog-btn{
      width: 190px;
      height: 55px;
      margin-top: 20px;
      
   }
  
   /* end-of blog-section-responsive */
/* client-logos */
.clients-logo h2{
   font-family: 'Miniver';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   color: #BC9A6C;
   margin-top: 10px;

}
.clients-logo h1{
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 56px;
   font-feature-settings: 'kern' off;
   color: #333333;
   text-align: center;
   margin-top: 1rem;
   
      }
    
.clients-logo .client-row{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   margin-left: 80px;
 margin-top: 20px;
 margin-bottom: 1rem;
}
 /* contact-responsive */
 .contact .container{
   max-width: 100%;
   height: 10rem;
   background: #FFFFFF;
   box-shadow: 0px 0px 80px rgba(205, 205, 205, 0.25);
   flex-wrap: wrap;
 flex-direction: row;
   align-items: center;
   flex: 1 1 1rem;
   margin-top: 1rem;
  position: relative;
   margin: 30px 12px 12px;
padding: 5rem 1rem 15rem ;
}
.contact h1{
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 20px;
   color: #333333;
   margin-left: 3rem;
   margin-top: 0;
}
.contact .container .form{
   margin-left: 2rem;
   margin-top: 2rem;
}
.contact .container .form input{
   width:250px;
   height: 50px;
   border-top:1px solid #BC9A6C;
   border-bottom:1px solid #BC9A6C;
   border-left: 1px solid #BC9A6C;
   padding: 10px ;
   font-size: 1.3rem;
}
.contact .container .form button{
   width: 30%;
   min-height: 50px;
   position: absolute;
   background: #BC9A6C;
   color: #FFFFFF;
   font-family: 'Helvetica';
   font-style: normal;

}
.contact .container .form button:hover{
   background: #1f1d1d;
   cursor: pointer;
   line-height: 1rem;
   transition: .3s;

}
.social-media-icons{
   position: relative;
   margin-left: 10rem;
   padding: 2px 39px;
   margin-right:23px ;
   color: #BC9A6C;
   font-size: 2rem;
   cursor: pointer;
   margin-top: .7rem;
}
 /* end-of contact-responsive */
 /* footer-responsive */
 .footer{
   background: rgba(30, 30, 30, 0.7), url('images/footer-image.png');
   background-position: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 60vh;
   display: flex;

}
.footer__addr p{
   text-align: center;
   display: flex;
   font-size: 1rem;
}
.footer__addr {
   margin-left: 2.25rem;
   font-size: 16px;
   justify-content: center;
text-align: center;
   margin-top: 1rem;
 }
 
 .footer__logo {
   font-family: 'Pacifico', cursive;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
 }
 .footer__addr p{
  color: #fdfdfd;
  font-family: 'Helvetica';
  font-style: normal;
   font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 1rem;
 }
 .footer__addr h2 {
   margin-top: 1rem;
   font-size: 15px;
   font-weight: 400;
 }
 .nav__title{
   margin-top: 0;
   font-size: 1rem;
 }
 .nav__item{
   margin-top: 0;
   margin-left: 3rem;
   
 }

 .nav__title {
   font-weight: 400;
   font-size: 15px;
   color: #fdfdfd;
   font-family: 'Helvetica';
  font-style: normal;
   font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
 }
 .nav__ul{
   
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
  line-height: 26px;
   color: #FFFFFF;
   margin-top: 0px;
 }
 .footer_nav .nav__ul{
   display: grid;
   grid-template-columns: repeat(auto-fix, minmax(10rem, 1fr));
   flex: 1 1 1rem;
 }
 .footer__nav{
   margin-top:0;
 }
 .footer_nav .nav_ul{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
 }
 .footer address {
   font-style: normal;
   color: #999;
   
 }
 .nav__ul--extra {
   column-count: 1;
   column-gap: 1em;
 }

 .testimonials .container{
   display: flex;
   margin-top: 10rem;
   margin-bottom: 10rem;
}
.testimonials{
   background-color: #FFFFFF;
   justify-content:center;
   align-items: center;
   flex-wrap:wrap;
   flex-direction: row;
}

 }